.burger {
  width: 35px;
  height: 4px;
  background-color: rgb(253, 253, 253);
  margin: 3px 0;
}

.sidebar {
  transition: 0.4s;
}
.sidebar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  background: #0f1118;
}

.sidebar.open {
  width: 70px;
  background: #0f1118;
  color: rgba(255, 255, 255, 0);
}

.sidebar h1 {
  padding-bottom: 20px;
}

.sidebar-toogle {
  padding-top: 20px;
  padding-left: 20px;
  display: grid;
  place-items: center;
  height: 30px;
  background-color: #ffffff00;
  border-style: none;
}

.nav-button {
  display: flex;
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 18px;
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s;
  width: 200px; 
  height: 50px;
}

.nav-button:hover {
  background-color: #1d20ca;
  color: white;
  border-left: solid 2px wheat;
  justify-content: flex-start;
  border-top-left-radius: 25px; /* Ajoutez cette propriété */
  border-bottom-left-radius: 25px; /* Ajoutez cette propriété */
}

.nav-button.active {
  background-color: #1d20ca;
  color: white;
  border-left: solid 2px wheat;
}

.sidebar-toogle {
  padding-left: 20px;
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  background-color: #ffffff00;
  border-style: none;
}

.dec-cont {
  padding-top: 420px;
}

.dec-item {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 18px;
  color: rgb(255, 255, 255);
  background-color: #0f111800;
  border-style: none;
  width: 100%;
  display: flex;
}

.dec-item:hover {
  background-color: #1d20ca;
  transition-duration: 400ms;
  color: white;
  border-left: solid 2px wheat;
}

.nav-menu {
  display: flex;
}

@media screen and (max-width: 600px) {
  .burger {
    width: 35px;
    height: 4px;
    background-color: black;
  }

  .sidebar-toogle {
    position: absolute;
    top: 0;
    right: -30px;
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
    background-color: #00490400;
    border-style: none;
  }

  .sidebar {
    transition: 0.5s;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100%;
    background: #0f1118;
  }

  .sidebar.open {
    transform: translateX(-80px);
    background: #0f1118;
  }

  .sidebar h1 {
    padding-bottom: 20px;
  }

  .sidebar-toogle {
    padding-left: 20px;
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
    background-color: #ffffff00;
    border-style: none;
  }

  .nav-button {
    width: 100%; /* Prendre la largeur du side nav fermé */
    display: flex;
    align-items: center;
    padding: 8px 20px; /* Ajustez les espacements comme souhaité */
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    display: flex;
    transition: width 0.4s; /* Ajoutez une transition pour la largeur */
  }

  .nav-button:hover {
    background-color: #1d20ca;
    transition-duration: 400ms;
    color: white;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 100%; /* La largeur s'élargira au passage du curseur */
  }
  .nav-button.active {
    background-color: #1d20ca;
    color: white;
    border-left: solid 2px wheat;
  }

  .dec-cont {
    padding-top: 420px;
  }

  .dec-item {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    background-color: #0f111800;
    border-style: none;
    width: 100%;
    display: flex;
  }

  .dec-item:hover {
    background-color: #1d20ca;
    transition-duration: 400ms;
    color: white;
    border-left: solid 2px wheat;
  }

  .nav-menu {
    display: flex;
  }
}
.sideText {
  color: white;
  transition: transform 0.3s;
}

.sidebar.open .sideText {
  transform: translateX(-300%);
}
.nav-button:hover {
  background-color: #1d20ca;
  transition-duration: 400ms;
  color: white;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 100%; 
}
/* 
.sidebar {
  transition: 0.4s;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  background: #0f1118;
}

.sidebar.open {
  width: 70px;
  background: #0f1118;
  color: rgba(255, 255, 255, 0);
}

.nav-button {
  width: 100%; /* Prendre la largeur du side nav fermé 
  display: flex;
  align-items: center;
  padding: 8px 20px; /* Ajustez les espacements comme souhaité 
  text-decoration: none;
  font-size: 18px;
  color: rgb(255, 255, 255);
  display: flex;
  transition: width 0.4s; /* Ajoutez une transition pour la largeur 
}



.active {
  background-color: #1d20ca;
  color: white;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 100%; /* Maintient la largeur sur le bouton actif 
} */